body {
  background-color: #454445;
  color: #fff;
  font-family: Apercu,sans-serif; }

.navbar {
  border-bottom: #009494 3px solid; }

#main-landing-page {
  color: #1e2122;
  border-bottom: 1px #eee solid;
  position: relative; }

.main-landing-image {
  width: 100%;
  background-size: cover; }

.main-text-block {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background-color: rgba(82, 15, 15, 0.315);
  padding-left: 20px;
  padding-top: 20px; }

#home-heading {
  position: relative;
  min-height: 400px;
  background-color: #fff;
  color: #454445; }

.fa {
  font-size: 55px; }

.fas {
  font-size: 55px; }

#info {
  background-color: #fff;
  color: #454445; }

footer#main-footer {
  background: #000;
  color: #fff; }

#page-header {
  height: 200px;
  background: url(../images/blueprint.jpg);
  background-position: 0 -360;
  background-attachment: fixed;
  color: #1e2122;
  border-bottom: 1px #eee solid;
  padding-top: 50px; }

.header-text {
  color: #fff;
  background-color: rgba(8, 1, 1, 0.315);
  padding-left: 10px;
  padding-top: 10px; }

#about img {
  margin-top: -50px; }

#services {
  color: #1e2122;
  background-color: #fff; }

.card-bg {
  color: #fff; }

#contact-page {
  background-color: #fff; }

#contact {
  color: #000; }
