// Main Sass File
$bg-color: #454445;
$font-color: #fff;
$primary-color:#009494;
$icon-size:55px;

html, body{
    height: 100%;
}
* html .wrapper {
    height: 100%;
}

body{
    background-color: $bg-color;
    color: $font-color;
    font-family: Apercu,sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    border-bottom: $primary-color 3px solid;
}

#main-landing-page{
    color: #1e2122;
    border-bottom: 1px #eee solid;
    position: relative;
}
.main-landing-image{
    width: 100%;
    background-size: cover;
}

.main-heading-block{
    position: absolute;
    top:25px;
    left: 60px;
    color: #fff;
}
.main-text-block{
    position: absolute;
    width: 700px;
    bottom: 20px;
    right: 40px;
    color: #fff;
    background-color: rgba(82, 15, 15, 0.315);
    padding: 10px;
}

#home-heading{
    position: relative;
    min-height: 400px;
    background-color: #fff;
    color: #454445;
}

.fa{
    font-size: $icon-size;
}

.fas{
    font-size: $icon-size;
}

#info{
    background-color: #fff;
    color:#454445;
}

#main-footer{
    background:#000;
    color: #fff;
}

.wrapper{
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}

#page-header{
    height: 200px;
    background:url(../images/blueprint.jpg);
    background-position: 0 -360;
    background-attachment: fixed;
    color: #1e2122;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}
.header-text{
    color: #fff;
    background-color: rgba(8, 1, 1, 0.315);
    padding-left: 10px;
    padding-top: 10px;
}
#about{
    img{
        margin-top: -50px;
    }
}

#services{
    color: #1e2122;
    background-color: #fff;
}

.card-bg{
    color: #fff;
}

#contact-page{
    background-color: #fff;
}
#contact{
    color: #000;
}

.main-page-text{
    color: #1e2122;
}